<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers | IntelliBank</title>
    <link rel="stylesheet" href="/style/customers.css">
    <link rel="stylesheet" href="/style/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Rubik:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>IntelliBank</h1>
    </nav>

    <div class="cont">
        <div id="custs" class="custs">

        </div>
    </div>

    <script src="scripts/customers.js"></script>
</body>
</html>