<!-- made by M. Saad Ibrahim -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliBank</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="images/coin.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Rubik:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>IntelliBank</h1>
    </nav>

    <div class="maincontainer">
        <div class="desc">
            <h1>IntelliBank</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam voluptatem ipsa necessitatibus ratione labore, quisquam odit laudantium repellat velit blanditiis eum ipsam quis dolore alias. Aspernatur vitae facilis assumenda sapiente nulla dolor dolores, totam consequatur.</p>
            <img src="images/ill1.svg" alt="A piggybank">
            <a class="btns " href="/customers">View All Customers</a>
        </div>
        
    </div>
</body>
</html>